<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      {% for curso in cursos %}
      <div class="card">
        <div class="card-content">
          <h2>{{ curso.nombre }}</h2>
          <p>Nivel: {{ curso.nivel }}</p>

          {# Ahora viene una condicional #} {% if curso.activo %}
          <span class="badge activo">Disponible</span>
          <a href="#" class="btn">Inscribirse</a>
          {% else %}
          <span class="badge inactivo">No disponible</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
